.main-container {
  flex: 1;
  display: flex;
  overflow: hidden;
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
  box-sizing: border-box;
}

.infinite-scroll-wrapper {
  flex: 1;
  overflow: hidden;
}

.scrollable-container {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.news-thumbnail {
  width: 80%;
  max-width: 500px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.news-title {
  margin: 0;
  font-size: 30px;
  text-align: left;
}

.personal-view {
  width: 300px;
  padding: 1rem;
}

.section {
  margin-bottom: 2rem;
}

.personal-view h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #333;
}

.personal-view ul {
  list-style-type: none;
  padding-left: 0;
}

/* .personal-view li {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  color: #666;
}

.personal-view li:before {
  content: "•";
  color: #999;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
} */

.category-view {
  width: 300px;
  padding: 1rem;
}

.section {
  margin-bottom: 2rem;
}

.section li {
  margin-bottom: 0.8rem;
}

.section li a {
  text-decoration: none;
  color: black;
}

.section h2,
.section > h3 {
  font-size: 1.4rem;
  text-align: center;
}

.category-view h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #333;
}

.category-view h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.category-view ul {
  list-style-type: none;
  padding-left: 1rem;
}

.category-view li {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  color: #666;
}

.category-view li:before {
  content: "•";
  color: #999;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.news-title a {
  color: #333;
  text-decoration: none;
}

.news-title a:hover {
  text-decoration: underline;
}

@media (max-width: 1280px) {
  .personal-view-wrapper {
    display: none;
  }

  .main-container {
    padding: 0;
  }

  .infinite-scroll-wrapper {
    flex: 1;
  }
}

@media (max-width: 1024px) {
  .category-view-wrapper {
    display: none;
  }

  .infinite-scroll-wrapper {
    flex: 1;
  }

  .header-content {
    height: 94px;
  }

  .header-left h1 {
    font-size: 30px;
  }

  .header.search-open .header-content {
    height: 154px; /* 기존 높이 + 검색바 높이 */
  }
}

@media (max-width: 768px) {
  .news-thumbnail {
    width: 95%;
  }
}
