.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: #f3f2ef;
}

.infinite-scroll-component {
  margin-top: 10px;
}

.personal-view-wrapper {
  margin: 20px 10px;
  background: white;
  border: 1px solid #dcdbd9;
  border-radius: 10px;
}

.category-view-wrapper {
  margin: 20px 10px;
  background: white;
  border: 1px solid #dcdbd9;
  border-radius: 10px;
}

.news-item {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid #dcdbd9;
  border-radius: 10px;
}

.related-news-item img {
  width: 120px;
  display: block;
}
