.footer {
  background-color: white;
  padding: 1rem 0;
  border-top: 1px solid #dcdbd9;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left,
.footer-right {
  color: #666;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-left {
    margin-bottom: 0.5rem;
  }
}
